# Données carroyées

Les [données carroyées](https://www.insee.fr/fr/statistiques/2520034#titre-bloc-5) sont des données économiques agrégées sur tout le territoire français sur des carrés de 200m de côté.

In [1]:
from jyquickhelper import add_notebook_menu
add_notebook_menu()

## Département de la réunion

Le code suivant utilise les données de la réunion disponible sur le site de l'INSEE : [Données carroyées à 200 mètres](https://www.insee.fr/fr/statistiques/2520034). Voir aussi la fonction [load_carreau_from_zip](https://github.com/sdpython/papierstat/blob/master/src/papierstat/datasets/carreau.py#L184) et aussi la fonction [from_file](http://geopandas.org/reference.html?highlight=from_file#GeoDataFrame.from_file) du module [geopandas](http://geopandas.org/index.html).

In [2]:
from papierstat.datasets import load_carreau_from_zip
dfcar, shpcar, dfrect, shprect = load_carreau_from_zip()

In [3]:
dfcar.head()

,id,idINSPIRE,idk,ind_c,nbcar
0,UTM40S200M_N38171E01797,CRS2975RES200mN7634200E0359400,N38171E01797-N38172E01797,16.0,2.0
1,UTM40S200M_N38172E01779,CRS2975RES200mN7634400E0355800,N38172E01779-N38172E01779,40.0,1.0
2,UTM40S200M_N38172E01780,CRS2975RES200mN7634400E0356000,N38172E01780-N38172E01780,64.0,1.0
3,UTM40S200M_N38172E01781,CRS2975RES200mN7634400E0356200,N38172E01781-N38172E01782,106.0,2.0
4,UTM40S200M_N38172E01782,CRS2975RES200mN7634400E0356400,N38172E01781-N38172E01782,6.0,2.0

In [4]:
shpcar.head()

,idINSPIRE,id,geometry
0,CRS2975RES200mN7634200E0359400,UTM40S200M_N38171E01797,"POLYGON ((359400 7634200, 359600 7634200, 3596..."
1,CRS2975RES200mN7634400E0355800,UTM40S200M_N38172E01779,"POLYGON ((355800 7634400, 356000 7634400, 3560..."
2,CRS2975RES200mN7634400E0356000,UTM40S200M_N38172E01780,"POLYGON ((356000 7634400, 356200 7634400, 3562..."
3,CRS2975RES200mN7634400E0356200,UTM40S200M_N38172E01781,"POLYGON ((356200 7634400, 356400 7634400, 3564..."
4,CRS2975RES200mN7634400E0356400,UTM40S200M_N38172E01782,"POLYGON ((356400 7634400, 356600 7634400, 3566..."

In [5]:
dfrect.head().T

,0,1,2,3,4
idk,N38171E01797-N38172E01797,N38172E01779-N38172E01779,N38172E01780-N38172E01780,N38172E01781-N38172E01782,N38172E01798-N38173E01798
men,32,15,39,44,14
men_surf,2263,1202,2605,3103,1379
men_occ5,17,8,3,21,14
men_coll,12,0,0,1,0
men_5ind,7,2,2,6,1
men_1ind,7,3,22,14,1
i_1ind,0,0,0,0,0
men_prop,17,10,8,22,11
i_prop,0,0,2,0,1
men_basr,15,4,20,16,0
i_basr,0,0,0,0,0
ind_r,101,40,64,112,38
ind_age1,7,3,4,7,1
ind_age2,2,1,1,3,0
ind_age3,6,5,0,12,2
ind_age4,5,2,2,5,3
ind_age5,8,0,0,4,3
ind_age6,62,26,55,69,26
ind_age7,3,7,34,14,4
i_age7,0,0,0,0,0
ind_age8,1,2,12,9,1
i_age8,0,0,0,0,0
ind_srf,1.01807e+06,459078,536160,1.09746e+06,687108
nbcar,2,1,1,2,2

In [6]:
shprect.head()

,idk,geometry
0,N38171E01797-N38172E01797,"POLYGON ((359400 7634200, 359600 7634200, 3596..."
1,N38172E01779-N38172E01779,"POLYGON ((355800 7634400, 356000 7634400, 3560..."
2,N38172E01780-N38172E01780,"POLYGON ((356000 7634400, 356200 7634400, 3562..."
3,N38172E01781-N38172E01782,"POLYGON ((356200 7634400, 356600 7634400, 3566..."
4,N38172E01798-N38173E01798,"POLYGON ((359600 7634400, 359800 7634400, 3598..."

## IRIS et données carroyées

Cette base contient que des données liées à la population. Il faut lui ajouter des données économiques ce qu'on obtient à l'adresse suivant : [recherche autour des données carroyées](https://www.insee.fr/fr/statistiques?debut=0&categorie=1&geo=ICQ-1). La fusion n'a pas l'air simple cependant car les données IRIS sont agrégrées sur des zones plus grandes [Les données carroyées pour toujours plus de précision](https://www.geocible.com/autres-news/107-les-donnees-carroyees-pour-toujours-plus-de-precision.html) pour garder la confidentialité des données économiques.

In [7]:
from pyensae.datasource import download_data
download_data("demandeur-emploi_AN_2017.xls", 
              url="https://www.insee.fr/fr/statistiques/fichier/3622223/")

'demandeur-emploi_AN_2017.xls'

In [8]:
import pandas
var = pandas.read_excel('demandeur-emploi_AN_2017.xls', sheet_name="Variables")
var.head(n=10)

,Demandeurs d'emploi au 31 décembre 2017 (données annuelles),Unnamed: 1,Unnamed: 2
0,Variables,NaN,NaN
1,Mise en ligne le 08/10/2018,NaN,NaN
2,"©Insee Source : Pôle Emploi-Dares, STMT",NaN,NaN
3,NaN,NaN,NaN
4,VAR_ID,VAR_LIB,VAR_LIB_LONG
5,CODGEO,Code géographique,"Code du quartier prioritaire, de l’Iris, de la..."
6,LIBGEO,Libellé géographique,"Nom du quartier prioritaire, de l’Iris, de la ..."
7,EPCI_1,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015 pour les QPV
8,EPCI_2,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015 pour les QPV loc...
9,EPCI,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015 pour les commune...

In [9]:
iris = pandas.read_excel('demandeur-emploi_AN_2017.xls', sheet_name="IRIS", skiprows=5)
iris.head(n=10).T

,0,1,2,3,4,5,6,7,8,9
CODGEO,010040101,010040102,010040201,010040202,010330101,010330102,010330201,010330202,010330301,010530101
LIBGEO,Les Perouses-Triangle d'Activite,Longeray-Gare,Centre-St Germain-Vareilles,Tiret-Les Allymes,Coupy-Vanchy,Centre Ville,Arc Vouvray-Gare-Chatillon,Plateau de Musinens,Arlod,Centre-Ville
EPCI,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08
UU,01302,01302,01302,01302,00357,00357,00357,00357,00357,01501
REG,84,84,84,84,84,84,84,84,84,84
NOTE,0,0,0,0,0,0,0,0,0,0
ABCDE,225,561,464,380,140,404,243,336,203,232
ABCDE_H,114,263,210,144,81,200,116,174,110,114
ABCDE_F,111,298,254,236,59,204,127,162,93,118
ABC,202,512,414,344,NaN,371,219,314,NaN,207
ABC_H,106,237,183,127,NaN,186,109,165,NaN,103
ABC_F,96,275,231,217,NaN,185,110,149,NaN,104
A,123,329,237,183,NaN,220,125,183,NaN,117
A_H,65,164,116,67,NaN,110,NaN,90,NaN,63
A_F,58,165,121,116,NaN,110,NaN,93,NaN,54
ABC_25,40,98,90,50,NaN,61,32,59,NaN,42
ABC_25_H,28,46,43,17,NaN,24,NaN,31,NaN,19
ABC_25_F,12,52,47,33,NaN,37,NaN,28,NaN,23
ABC_2649,124,312,252,205,NaN,243,136,194,NaN,113
ABC_2649_H,59,153,112,79,NaN,127,NaN,99,NaN,55
ABC_2649_F,65,159,140,126,NaN,116,NaN,95,NaN,58
ABC_50,38,102,72,89,NaN,67,51,61,NaN,52
ABC_50_H,19,38,28,31,NaN,35,NaN,35,NaN,29
ABC_50_F,19,64,44,58,NaN,32,NaN,26,NaN,23
ABC_FR,164,398,356,294,NaN,267,NaN,219,NaN,180
ABC_E,38,113,57,50,NaN,104,NaN,95,NaN,27
ABC_INFCAPBEP,36,114,77,61,NaN,76,39,86,NaN,NaN
ABC_INFCAPBEP_H,20,49,36,29,NaN,43,NaN,40,NaN,NaN
ABC_INFCAPBEP_F,16,65,41,32,NaN,33,NaN,46,NaN,NaN
ABC_CAPBEP,90,207,176,122,NaN,140,91,113,NaN,69
...,...,...,...,...,...,...,...,...,...,...
ABC_Dur2_F,23,64,51,42,NaN,27,NaN,17,NaN,25
ABC_Dur3,40,109,74,79,NaN,86,53,70,NaN,34
ABC_Dur3_H,22,54,35,29,NaN,45,28,36,NaN,15
ABC_Dur3_F,18,55,39,50,NaN,41,25,34,NaN,19
ABC_Dur4,32,83,74,68,NaN,74,NaN,81,NaN,35
ABC_Dur4_H,13,40,27,23,NaN,38,NaN,43,NaN,23
ABC_Dur4_F,19,43,47,45,NaN,36,NaN,38,NaN,12
ABC_Qal1,27,69,43,33,NaN,35,NaN,24,NaN,13
ABC_Qal2,35,73,62,44,NaN,63,38,59,NaN,25
ABC_Qal3,56,144,95,71,NaN,85,42,81,NaN,45
ABC_Qal4,65,190,174,146,NaN,156,104,134,NaN,96
ABC_Qal5,17,33,40,48,NaN,30,NaN,16,NaN,23
ABC_Ins1,8,10,7,11,NaN,10,NaN,7,NaN,6
ABC_Ins2,31,73,56,58,NaN,83,49,49,NaN,25
ABC_Ins3,34,99,84,65,NaN,76,40,58,NaN,51
ABC_Ins4,24,50,52,40,NaN,60,NaN,54,NaN,17
ABC_Ins5,105,280,215,170,NaN,142,90,146,NaN,108
ABC_RSA,37,85,62,28,NaN,39,NaN,38,NaN,40
ABC_RSA_H,20,38,29,9,NaN,20,NaN,22,NaN,21
ABC_RSA_F,17,47,33,19,NaN,19,NaN,16,NaN,19
ABC_RD,19,72,69,56,NaN,65,28,55,NaN,37
ABC_RF,27,50,29,22,NaN,70,NaN,60,NaN,18
ABC_RG,12,35,37,16,NaN,30,25,20,NaN,24
ABC_RH,28,52,40,25,NaN,40,38,41,NaN,15
ABC_RI,9,24,17,15,NaN,12,NaN,19,NaN,NaN
ABC_RJ,10,21,17,18,NaN,9,11,8,NaN,NaN
ABC_RK,32,103,77,81,NaN,62,NaN,59,NaN,44
ABC_RM,17,56,31,42,NaN,31,19,24,NaN,24
ABC_RN,34,70,78,35,NaN,25,NaN,19,NaN,NaN
ABC_RAUTRES,12,26,19,32,NaN,25,10,9,NaN,23

## Récupérer les shapefile des IRIS

On va à l'adresse suivante : [Contour des IRIS INSEE tout en un](https://www.data.gouv.fr/fr/datasets/contour-des-iris-insee-tout-en-un/#_).

## Fusion de données - point appartenant à un shapefile

On peut récupérer données localisées avec longitude-latitude. Pour fusionner ces données avec les données IRIS ou carooyées, il faut pouvoir si ce point appartient à une zone en particulier donc à un *shapefile*. Les données carroyées sont supposées suivre le système de coordonnées ESPG 3035 (d'après ce document [Documentation générale sur le carroyage](https://www.insee.fr/fr/statistiques/fichier/2520034/donnee-carroyees-documentation-generale.pdf)).

In [11]:
shprect[1000:1002]

,idk,geometry
1000,N38210E01748-N38210E01749,"POLYGON ((349600 7642000, 350000 7642000, 3500..."
1001,N38210E01750-N38211E01750,"POLYGON ((350000 7642000, 350200 7642000, 3502..."

On essaye avec un point dans Paris.

In [12]:
from pyproj import Proj, transform
p1 = Proj(init='epsg:4326')  # longitude / latidude
p2 = Proj(init='epsg:3035')  # Lambert 93
coor = transform(p1, p2, 2.333333, 48.866667)
coor

(3759509.493847901, 2890742.7970881974)

In [13]:
p1 = Proj(init='epsg:4326')  # longitude / latidude
p2 = Proj(init='epsg:3035')  # Lambert 93
coor = transform(p2, p1, 349600, 7642000)
coor

(-93.87371871351789, 55.54315281737337)

Bref, j'ai essayé dans tous les sens et ça bug quelque part. On pourrait utiliser [Données carroyées à 200m sur la population](https://www.data.gouv.fr/fr/datasets/donnees-carroyees-a-200m-sur-la-population/#_) qui ont l'air de plutôt bien fonctionner.

In [14]:
## Données IRIS

Le

In [15]:
from pyensae.datasource import download_data
download_data("iris-2013-01-01.zip", 
              url="https://www.data.gouv.fr/s/resources/contour-des-iris-insee-tout-en-un/20150428-161348/")

['.\\iris-2013-01-01.shp',
 '.\\iris-2013-01-01.dbf',
 '.\\iris-2013-01-01.prj',
 '.\\iris-2013-01-01.shx']

In [16]:
import geopandas
geo = geopandas.read_file("iris-2013-01-01.shp")

In [17]:
geo.shape

(508980, 8)

In [18]:
geo[10000:10005]

,DEPCOM,NOM_COM,IRIS,DCOMIRIS,NOM_IRIS,TYP_IRIS,ORIGINE,geometry
10000,35357,VILLAMEE,0000,353570000,VILLAMEE,Z,,"POLYGON ((-1.21661524857897 48.47689666811728,..."
10001,35153,LILLEMER,0000,351530000,LILLEMER,Z,,POLYGON ((-1.858321033006746 48.55999645008986...
10002,35274,SAINT-GERMAIN-SUR-ILLE,0000,352740000,SAINT-GERMAIN-SUR-ILLE,Z,,POLYGON ((-1.634295663355298 48.25396517011049...
10003,35090,CREVIN,0000,350900000,CREVIN,Z,,POLYGON ((-1.655521767501034 47.91505018727604...
10004,35288,SAINT-MALO,0102,352880102,LE SILLON-COURTOISVILLE,H,,POLYGON ((-1.992541080973889 48.65908323743086...

In [19]:
geo.shape, len(set(geo.DEPCOM))

((508980, 8), 36727)

On récupère d'autres données économiques.

In [20]:
download_data("beneficiaires_CAF_31-12-2016.xls", 
              url="https://www.insee.fr/fr/statistiques/fichier/3532623/")

'beneficiaires_CAF_31-12-2016.xls'

In [21]:
import pandas
var = pandas.read_excel("beneficiaires_CAF_31-12-2016.xls", skiprows=5, sheet_name="Variables")
var

,VAR_ID,VAR_LIB,VAR_LIB_LONG
0,CODGEO,Code géographique,"Code du quartier prioritaire, de l'Iris, de la..."
1,LIBGEO,Libellé géographique,"Nom du quartier prioritaire, de l'Iris, de la ..."
2,EPCI1,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015
3,EPCI2,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015 pour les QPV loc...
4,EPCI,Code EPCI au 1er janvier 2015,Code EPCI au 1er janvier 2015 pour les commune...
5,UU,Code de l'unité urbaine,Code de l'unité urbaine
6,REG,Code région,Code région (nouvelles régions au 1er janvier ...
7,REG2,Code région,Code région (nouvelles régions au 1er janvier ...
8,DEPCOM,Code commune,Code la commune (pour la table Iris)
9,LIBCOM,Libellé de la commune,Libellé de la commune (pour la table Iris)
10,NOTE,Note de diffusion,Note de diffusion (voir documentation)
11,A,Nombre total d'allocataires,Nombre total de foyers allocataires percevant ...
12,PERCOU,Personnes couvertes,Nombre de personnes couvertes par au moins une...
13,AI,Allocataires isolés sans enfant,Nombre d'allocataires isolés sans enfant
14,AM,Allocataires mono-parent,Nombre de familles monoparentales (allocataire...
15,ACSSENF,Allocataires couples sans enfant,Nombre de couples sans enfant
16,ACAVENF,Allocataires couples avec enfant(s),Nombre de couples avec enfant(s)
17,AC3ENF,Allocataires couples avec au moins 3 enfants à...,Nombre de couples avec 3 enfants et plus
18,ENF,Enfants couverts par au moins une prestation Caf,Nombre d'enfants couverts par au moins une pre...
19,ENF_2,Enfants de moins de 3 ans,Nombre d'enfants de moins de 3 ans couverts pa...
20,ENF_3_5,Enfants de 3 à moins de 6 ans,Nombre d'enfants de 3 à moins de 6 ans couvert...
21,ENF_6_10,Enfants de 6 à moins de 11 ans,Nombre d'enfants de 6 à moins de 11 ans couver...
22,ENF_11_14,Enfants de 11 à moins de 15 ans,Nombre d'enfants de 11 à moins de 15 ans couve...
23,ENF_15_17,Enfants de 15 à moins de 18 ans,Nombre d'enfants de 15 à moins de 18 ans couve...
24,ENF_18_24,Enfants de 18 à moins de 25 ans,Nombre d'enfants de 18 à moins de 25 ans couve...
25,A_ETUD,Allocataires étudiants,Nombre d'allocataires étudiants
26,A_NETUD_24,Allocataires de moins de 25 ans non étudiants,Nombre d'allocataires de moins de 25 ans non é...
27,AAL,Allocataires percevant une aide au logement,Nombre d’allocataires percevant une aide au lo...
28,AAPL,Allocataires percevant l’Aide Personnalisée au...,Nombre d’allocataires percevant l’Aide Personn...
29,AAAH,Allocataires percevant l’Allocation Adulte Han...,Nombre d’allocataires percevant l’Allocation A...
30,APPA,Allocataires percevant la prime d'activité,Nombre d’allocataires percevant la prime d'act...
31,ARSAS,Allocataires percevant le RSA socle,Nombre d’allocataires percevant le Revenu de S...
32,APRES50,Allocataires dont le revenu est constitué à pl...,Nombre d’allocataires dont le revenu est const...
33,APRES100,Allocataires dont le revenu est constitué à 10...,Nombre d’allocataires dont le revenu est const...

In [22]:
caf = pandas.read_excel("beneficiaires_CAF_31-12-2016.xls", skiprows=5, sheet_name="IRIS")
caf.shape, len(set(caf.CODGEO))

((13148, 30), 13148)

In [23]:
caf.head().T

,0,1,2,3,4
CODGEO,010040101,010040102,010040201,010040202,010330101
LIBGEO,Les Perouses-Triangle d'Activite,Longeray-Gare,Centre-St Germain-Vareilles,Tiret-Les Allymes,Coupy-Vanchy
DEPCOM,01004,01004,01004,01004,01033
LIBCOM,Ambérieu-en-Bugey,Ambérieu-en-Bugey,Ambérieu-en-Bugey,Ambérieu-en-Bugey,Bellegarde-sur-Valserine
EPCI,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08,2.40101e+08
REG,84,84,84,84,84
NOTE,0,0,0,0,0
A,397,929,883,740,221
PERCOU,983,2256,2252,2358,584
AI,174,371,317,146,77
AM,52,174,187,107,22
ACSSENF,26,71,55,25,28
ACAVENF,145,313,324,462,94
AC3ENF,55,97,92,115,25
ENF,419,950,1005,1143,242
ENF_2,79,188,173,177,45
ENF_3_5,61,154,184,177,38
ENF_6_10,127,241,271,306,79
ENF_11_14,69,172,185,252,44
ENF_15_17,54,117,116,152,23
ENF_18_24,29,78,76,79,13
A_ETUD,20,NaN,20,NaN,NaN
A_NETUD_24,27,90,82,49,24
AAL,238,646,551,219,126
AAPL,195,457,273,127,72
AAAH,39,101,66,41,16
APPA,74,252,217,106,46
ARSAS,54,137,104,44,26
APRES50,100,265,205,100,56
APRES100,54,140,101,56,28

On peut fusionner sur ``CODGEO`` à condition d'agréger les polygnes sur la base la plus grosse.

## Première carte