# Machine learning avec des catégories et du texte

Le jeu [Titanic](http://biostat.mc.vanderbilt.edu/wiki/Main/DataSets) contient la liste des passages du Titanic, quelques informations comme le billet, la classe, et le fait qu'ils aient survécu. Il est possible d'utiliser le machine learning pour étudier la probabilité de survie ou plutôt de comprendre un peu mieux qui a eu la chance de survivre. S'il est possible de prédire, alors il existe une sorte de règle.

In [1]:
from jyquickhelper import add_notebook_menu
add_notebook_menu()

In [2]:
%matplotlib inline

## Les données

On peut les récupérer manuellement ou utiliser la fonction *load_titanic_dataset*. On pourra prendre l'un des deux jeux suivants.

In [3]:
from papierstat.datasets import load_titanic_dataset
data1 = load_titanic_dataset(subset="A")
data1.head(n=2)

   pclass  survived  ... body                        home.dest
0       1         1  ...  NaN                     St Louis, MO
1       1         1  ...  NaN  Montreal, PQ / Chesterville, ON

[2 rows x 14 columns]

In [4]:
data2 = load_titanic_dataset(subset="B")
data2.head(n=2)

   row.names pclass  survived  ...      ticket  boat     sex
0          1    1st         1  ...  24160 L221     2  female
1          2    1st         0  ...         NaN   NaN  female

[2 rows x 11 columns]